#main-container{
    background-image: url(niilo-isotalo--BZc9Ee1qo0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;


}
    
.bar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10%;
    

    
}
.text{
    color: white;
    padding: 0 15px;

}
button{
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
    border: green
    
    
}
.bottom-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: bold;
    
    
}
